<!-- a loop thats shows all Quotes the user has created-->
<ul>
    <% Quotes.forEach(function(Contract) { %>
    <form action="/deleteContract" method="post">
        <div class="Quotes">
          <div class="Contract" id="Contract1">
            <input type ="hidden" name = "name" value="<%= Contract.ContractName %>">
            <div class="ContractTitle"><%= Contract.ContractName %></div>
            <div class="ContractText"> Contract Length: <%= Contract.Weeks %> weeks</div>
            <div class="ContractText"> Job: <%= Contract.Person %></div>
            <div class="ContractText"> Price: £<%= Contract.FinalPrice %></div>
            <button class="editbutton" type="submit">Delete</button> 
          </div>
        </div>
    </form>
    <% }); %>
  </ul>